<a href="https://colab.research.google.com/github/davisbyun/ai/blob/%2Bpython/7%ED%8C%90%EB%8B%A4%EC%8A%A4%EC%98%88%EC%A0%9C1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd

 - 판다스는 파이썬의 수 많은 라이브러리 가운데 레이블 형태의 자료를 수집하고 정리하는 데 매우 유용한 도구입니다. 이러한 판다스의 두 가지 대표적인 자료구조가 바로 시리즈(Series)와 데이터프레임(Dataframe)입니다.먼저 시리즈에 대해 알아보도록 합니다.
 - Pandas의 Series는 1차원 배열로서 다음의 특징을 가집니다.데이터를 담는 차원 배열 구조를 가집니다.인덱스(index)를 사용 가능합니다.데이터 타입을 가집니다. (dtype)

In [9]:
# Series의 생성(1) - numpy 이용
# 1.numpy array로 생성한 경우
a1 = np.arange(100, 105)
print(a1)
pd_a1 = pd.Series(a1)
print(pd_a1)
# 2.dtype 지정하기
pd_a2=pd.Series(a1, dtype='int32')
print(pd_a2)
pd_a3=pd.Series(a1, dtype='float32')
print(pd_a3)

[100 101 102 103 104]
0    100
1    101
2    102
3    103
4    104
dtype: int64
0    100
1    101
2    102
3    103
4    104
dtype: int32
0    100.0
1    101.0
2    102.0
3    103.0
4    104.0
dtype: float32

In [17]:
# Series의 생성(2) - list 이용
data=[91,2.5,'문자', 4, 5.16 ] #리스트 안에 다양한 자료형을 넣어줌
pd_s2=pd.Series(data)
print(pd_s2)
print(pd_s2.dtype) #list안의 자료가 다양하므로 모든 자료형을 표현할 수 있는 object 형이 나온다.
print(pd_s2.index) #index의 범위를 알 수 있다. 인텍스를 붙이지 않으면 자동으로 0~ 부터 만들어진다.
print(pd_s2[[2,]]) #문자
print(pd_s2[[1,2]]) #2.5,문자

0      91
1     2.5
2      문자
3       4
4    5.16
dtype: object
object
RangeIndex(start=0, stop=5, step=1)
2    문자
dtype: object
1    2.5
2     문자
dtype: object

In [22]:
pd.__version__ #판다스 버전확인

'1.5.3'

In [28]:
#인덱싱
pd_s2[[1,3]] #pd.s2[인덱스1, 인덱스2]
a= pd_s2[np.arange(0, 3, 2)]  # a= pd_s2[np.arange(시작인덱스0,끝인덱스 3, 증가값2)]
print(a)

0    91
2    문자
dtype: object

In [36]:
# Series의 생성(3) - np.random.randint 이용
np.random.seed(0)
a2 = pd.Series(np.random.randint(100, 200, size=(10, )))  #Series 속에 numpy를 넣음
print(a2)
print(a2>150) #True, False로 출력
print( a2[ a2>150  ] )

0    144
1    147
2    164
3    167
4    167
5    109
6    183
7    121
8    136
9    187
dtype: int64
0    False
1    False
2     True
3     True
4     True
5    False
6     True
7    False
8    False
9     True
dtype: bool
2    164
3    167
4    167
6    183
9    187
dtype: int64

In [39]:
# Series의 생성(4) -
a4 = pd.Series(  [ '마케팅', '경영', '개발', '기획','인사' ] )
print(a4)

0    마케팅
1     경영
2     개발
3     기획
4     인사
dtype: object

In [50]:
# Series의 생성(4)
a4 = pd.Series(  [ '마케팅', '경영', '개발', '기획','인사' ], index=[ 'a','b','c','d','e'  ]   )   #index명을 지정함
print(a4) #index + values
print(a4.index) #index
print(a4.values) #values
print(a4['a'])
print(a4[ [ 'b'  , 'e' ] ])
#dtype
print('데이터타입', a4.dtype)
#ndim
print('데이터차원', a4.ndim)
print('데이터모양', a4.shape)

a    마케팅
b     경영
c     개발
d     기획
e     인사
dtype: object
Index(['a', 'b', 'c', 'd', 'e'], dtype='object')
['마케팅' '경영' '개발' '기획' '인사']
마케팅
b    경영
e    인사
dtype: object
데이터타입 object
데이터차원 1
데이터모양 (5,)

In [57]:
#NaN
a5=pd.Series( [ '선화','강호', np.nan, '소정','우영'  ] )
print(a5)
#결측값 찾기 isnull(), isna()
#a5.isnull()
a5.isna()
a5[a5.isna()]

0     선화
1     강호
2    NaN
3     소정
4     우영
dtype: object

2    NaN
dtype: object

In [61]:
#결측값이 아닌 것 찾기 notnull() , notna()

#a5[a5.notnull()]
a5[a5.notna()]

0    선화
1    강호
3    소정
4    우영
dtype: object

In [68]:
#슬라이싱
a6=pd.Series(np.arange(100,150,10))
a6[1:3]
#인텍스 변형
a6.index=['a','b','c','d','e']
a6['a':'d']

a    100
b    110
c    120
d    130
dtype: int64

In [ ]:
a6=pd.Series(np.arange(100,150,10))
a6
#인텍스 변형
index_list = list('abcd')
index_list
print( a6[index_list] , 'aaa' )

#시리즈문제풀이

In [78]:
#다음의 Series를 생성하세요. dtype은 float32가 되도록 생성하세요
#[출력]
  # 0 3.0
  # 1 5.0
  # 2 7.0
  # 3 9.0
  # 4 11.0
  # dtype: float32
s1=pd.Series(np.arange(3,12,2), dtype='float32' )
print(s1)

0     3.0
1     5.0
2     7.0
3     9.0
4    11.0
dtype: float32

In [83]:
#[출력]
#0 가
#1 나
#2 다
#3 라
#4 마
#dtype: object

#data=['가' ,'나','다','라','마']
#s2=pd.Series(data)
#print(s2)

s2=pd.Series( list('가나다라마'))
s2

0    가
1    나
2    다
3    라
4    마
dtype: object

In [84]:
# 다음의 Series를 생성하고 sample 변수에 대입하고 출력하세요
# # 코드를 입력해 주세요
# [출력]
# 가 10
# 나 20
# 다 30
# 라 40
# 마 50
# dtype: int64

s3=pd.Series(np.arange(10,55,10), index=list('가나다라마'), dtype='int64')
s3

가    10
나    20
다    30
라    40
마    50
dtype: int64

In [85]:
#4
print( s3 [   [  '나','라'  ]   ] )

나    20
라    40
dtype: int64

In [90]:
# np.random.seed(20) sample2 = pd.Series(np.random.randint(100, 200, size=(15,))) sample2
# sample2 중 160 이하인 데이터만 필터하세요
# # 코드를 입력해 주세요

# [출력]
# 2 115
# 4 128
# 6 109
# 7 120
# 9 122
# 11 134
# 13 140
# dtype: int64

np.random.seed(20)
s5 = pd.Series(np.random.randint(100, 200, size=(15,)))
s5[s5<=160]

 #6
s5[ (s5>=130) & (s5<=170) ]

11    134
13    140
dtype: int64

In [91]:
# 다음과 같은 Series를 생성해 주세요
# # 코드를 입력해 주세요

# [출력]
# 가 apple
# 나 NaN
# 다 banana
# 라 kiwi
# 마 gubong
# dtype: object

pd.Series( ( ['apple', np.nan, 'bannana','kiwi','gubong'] ), index=list('가나다라마') )

가      apple
나        NaN
다    bannana
라       kiwi
마     gubong
dtype: object

In [95]:
#8
s8 = pd.Series(['IT서비스', np.nan, '반도체', np.nan, '바이오', '자율주행'])
s8[ s8.isna() ]

#9
s8[s8.notna()]

0    IT서비스
2      반도체
4      바이오
5     자율주행
dtype: object

In [97]:
#10
np.random.seed(0)
s9 = pd.Series(np.random.randint(100, 200, size=(10,)))
s9
s9[2:7]

2    164
3    167
4    167
5    109
6    183
dtype: int64

In [104]:
s10 = pd.Series(np.random.randint(100, 200, size=(10,)), index=list('가나다라마바사아자차') )
s10
s10['바':'차']

바    131
사    101
아    165
자    141
차    157
dtype: int64

In [105]:
s10['가':'다']

가    117
나    179
다    104
dtype: int64

In [106]:
s10['나':'바']

나    179
다    104
라    142
마    158
바    131
dtype: int64